In [ ]:
import pandas as pd
import numpy as np
import json

Read file shop_users.csv

In [ ]:
df = pd.read_csv('shop_users.csv')

# *View*

In [10]:
df

,Unnamed: 0,id,bdate,city,country,last_seen,followers_count,common_count,sex,is_closed,home_town,relation,costs,games
0,0,19,1.1.2005,"{'id': 2, 'title': 'Saint-Petersburg'}","{'id': 1, 'title': 'Россия'}","{'platform': 2, 'time': 1662237362}",39326.0,0,1,0.0,NaN,NaN,"{'costs': 25000, 'currency': 'RUR'}","[{'name': 'Dota 2'}, {'name': 'CS:GO'}, {'name..."
1,1,510,1.1.1985,NaN,"{'id': 1, 'title': 'Россия'}","{'platform': 7, 'time': 1661321803}",19698.0,0,2,0.0,NaN,NaN,"{'costs': 50000, 'currency': 'RUR'}","[{'name': 'League of Legends'}, {'name': 'Valo..."
2,2,674,1.1.1979,"{'id': 99, 'title': 'Новосибирск'}","{'id': 1, 'title': 'Россия'}","{'platform': 7, 'time': 1662202619}",NaN,0,2,1.0,NaN,NaN,"{'costs': 75000, 'currency': 'RUR'}",[{'name': 'Fortnite'}]
3,3,1018,1.1.2002,"{'id': 2, 'title': 'Saint-Petersburg'}","{'id': 1, 'title': 'Россия'}","{'platform': 1, 'time': 1613708136}",NaN,0,2,1.0,NaN,NaN,"{'costs': 100000, 'currency': 'RUR'}","[{'name': 'PUBG'}, {'name': 'Hearthstone'}, {'..."
4,4,1586,1.1.1989,NaN,"{'id': 1, 'title': 'Россия'}","{'platform': 7, 'time': 1619550770}",31433.0,0,2,0.0,NaN,NaN,"{'costs': 100000, 'currency': 'RUR'}",[{'name': 'FIFA'}]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3520,3520,741237782,22.2.2000,NaN,"{'id': 1, 'title': 'Россия'}","{'platform': 4, 'time': 1661793146}",NaN,0,2,1.0,NaN,NaN,"{'costs': 25000, 'currency': 'RUR'}",[{'name': 'CS:GO'}]
3521,3521,741237783,4.8.2005,"{'id': 1, 'title': 'Россия'}","{'platform': 4, 'time': 1658820057}",NaN,0.0,2,1,NaN,NaN,"{'costs': 50000, 'currency': 'RUR'}",[{'name': 'Fortnite'}],no
3522,3522,741237784,30.11.2002,"{'id': 1, 'title': 'Россия'}","{'platform': 2, 'time': 1662237422}",0,0.0,2,0,NaN,0,"{'costs': 50000, 'currency': 'RUR'}","[{'name': 'PUBG'}, {'name': 'Hearthstone'}, {'...",no
3523,3523,741237785,5.6.2008,"{'id': 1, 'title': 'Россия'}","{'platform': 4, 'time': 1662232523}",1,0.0,2,0,NaN,NaN,"{'costs': 25000, 'currency': 'RUR'}",[{'name': 'FIFA'}],no
3524,3524,741237786,24.7.1990,"{'id': 1, 'title': 'Россия'}","{'platform': 4, 'time': 1661793146}",NaN,0.0,2,1,NaN,NaN,"{'costs': 25000, 'currency': 'RUR'}","[{'name': 'StarCraft 2'}, {'name': 'Warface'},...",no

In [ ]:
df.head(n=2)

In [ ]:
df.tail(n=3)

In [ ]:
df.sample(n=4)

In [15]:
type(df)

pandas.core.series.Series

In [16]:
type(df['id'])

pandas.core.series.Series

In [17]:
# size dataset
len(df)

3525

In [18]:
len(df.axes[1])

14

In [20]:
df.shape

(3525, 14)

In [21]:
df.dtypes

Unnamed: 0           int64
id                   int64
bdate               object
city                object
country             object
last_seen           object
followers_count    float64
common_count         int64
sex                  int64
is_closed          float64
home_town           object
relation            object
costs               object
games               object
dtype: object

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3525 entries, 0 to 3524
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       3525 non-null   int64
 1   id               3525 non-null   int64
 2   bdate            3525 non-null   object
 3   city             1972 non-null   object
 4   country          3525 non-null   object
 5   last_seen        3499 non-null   object
 6   followers_count  2652 non-null   float64
 7   common_count     3525 non-null   int64
 8   sex              3525 non-null   int64
 9   is_closed        3521 non-null   float64
 10  home_town        558 non-null    object
 11  relation         1584 non-null   object
 12  costs            3495 non-null   object
 13  games            3495 non-null   object
dtypes: float64(2), int64(4), object(8)
memory usage: 385.7+ KB

## Выявление проблем

1. Наличие признаков, не представляющих ценности в рамках кейса ('Unnamed: 0', 'common_count', 'is_closed', 'home_town', 'relation')
2. Возможно наличие дубликатов
3. Наличие незаполненных значений ('city', 'last_seen', 'followers_count', 'costs', 'games')
4. Наличие вложенных значений (словарей по признакам 'city', 'country', 'last_seen', 'costs' и списков словарей по признаку 'games')
5. Приведение признаков в необходимый формат (в datetime: 'bdate, 'last_seen', в float: затраты из признака 'costs')
6. Необходимость расчета признака 'age' (от признака 'bdate')
7. Наличие закодированных значений (по признаку 'sex')
8. Возможные другие проблемы, которые могут быть выявлены в процессе предобработки данных

## Исключение признаков, не представляющих ценности в рамках кейса

Перед проведением манипуляций рекомендовано создать копию исходного датасета в отдельную переменную, чтобы в случае необходимости или ошибки при обработке без труда вернуться к исходной версии

In [23]:
df_copy = df.copy()

In [ ]:
# при использовании выражения:
# df_copy = df
# копия не создастся, а датафрейм просто сохранится также в переменную df_copy,
# и при его изменении при обращении к переменной df_copy он также будет изменен в переменной df.

In [27]:
# выводит список колонок датафрейма
df_copy.columns

Index(['Unnamed: 0', 'id', 'bdate', 'city', 'country', 'last_seen',
       'followers_count', 'common_count', 'sex', 'is_closed', 'home_town',
       'relation', 'costs', 'games'],
      dtype='object')

In [29]:
drop_columns = ['Unnamed: 0', 'common_count', 'is_closed', 'home_town', 'relation']

In [30]:
# параметр inplace=True позволяет автоматически перезаписать текущий датафрейм
# без использования конструкции: df_copy = df_copy.drop(columns=columns)
df_copy.drop(columns=drop_columns, inplace=True)
# также с помощью drop() можно удалять и сами наблюдения (см. тех. документацию)

In [31]:
# проверка списка колонок датафрейма
df_copy.columns

Index(['id', 'bdate', 'city', 'country', 'last_seen', 'followers_count', 'sex',
       'costs', 'games'],
      dtype='object')

## Проверка и исключение дубликатов

### Проверка на дубликаты

In [32]:
# проверка на дубликаты: выдает объект Series с булевыми значениями True/False
df_copy.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
3520    False
3521    False
3522    False
3523    False
3524    False
Length: 3525, dtype: bool

In [34]:
# нас интересует количество дубликатов
# т.к. True = 1, False = 0, то необходимо сложить все значения по данному объекту Series
df_copy.duplicated().sum()

np.int64(158)

In [35]:
# проверка дубликатов по столбцу id
df_copy.duplicated(subset='id').sum()

np.int64(158)

In [36]:
# проверка дубликатов по нескольким столбцам
# (например, сколько однополых людей, родившихся в одинаковые дни)
# параметр keep=False присваивает значения True всем найденным дубликатам
# (по умолчанию keep='first', т.е. присваивает значение False первому из совпадений)
df_copy.duplicated(subset=['bdate', 'sex'], keep=False).sum()

np.int64(1760)

### Исключение дубликатов

In [38]:
# исключение дубликатов по всем признакам датафрейма
df_copy.drop_duplicates(inplace=True)

In [ ]:
# исключение дубликатов по столбцу
# (в нашем случае операция аналогична предыдущей)
# df_copy.drop_duplicates(subset='id', inplace=True)

In [ ]:
# исключение дубликатов по нескольким столбцам
# (в нашем случае нет необходимости)
# параметр keep=False удаляет все найденные дубликаты
# (по умолчанию keep='first', т.е. удаляет все дубликаты, кроме первого)
# df_copy.drop_duplicates(subset=['bdate', 'sex'], keep=False, inplace=True)

In [39]:
df_copy.shape

(3367, 9)

# **Проверка данных на пропуски, их обработка или исключение**

**NaN** и **None**:
* **NaN** отвечает за отсутствующее в ячейке число. Его тип данных float, поэтому с NaN можно проводить математические операции.
* **None**
принадлежит к нечисловому типу NoneType, и математические операции
с ним неосуществимы.

Строки с этими значениями **не
всегда стоит удалять**, иногда их наличие несет ценность для анализа, в некоторых случаях пропуски можно восстановить.

## Проверка на пропущенные значения

In [40]:
# проверка на пропущенные значения: выдает объект DataFrame с булевыми значениями True/False
df_copy.isna()

,id,bdate,city,country,last_seen,followers_count,sex,costs,games
0,False,False,False,False,False,False,False,False,False
1,False,False,True,False,False,False,False,False,False
2,False,False,False,False,False,True,False,False,False
3,False,False,False,False,False,True,False,False,False
4,False,False,True,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
3520,False,False,True,False,False,True,False,False,False
3521,False,False,False,False,True,False,False,False,False
3522,False,False,False,False,False,False,False,False,False
3523,False,False,False,False,False,False,False,False,False
3524,False,False,False,False,True,False,False,False,False

In [41]:
# нас интересует, в первую очередь, количество пропущенных значений
# т.к. True = 1, False = 0, то необходимо сложить все значения по столбцам данного объекта DataFrame
df_copy.isna().sum()

id                    0
bdate                 0
city               1534
country               0
last_seen            26
followers_count     836
sex                   0
costs                29
games                29
dtype: int64

In [42]:
# isnull() - альтернативный метод проверки на пустые значения
# можно оценить количество пропущенных значений в процентах, применив обычную арифметику
df_copy.isnull().mean()*100

id                  0.000000
bdate               0.000000
city               45.559846
country             0.000000
last_seen           0.772201
followers_count    24.829225
sex                 0.000000
costs               0.861301
games               0.861301
dtype: float64

In [44]:
# обратные методы: notna() и notnull() - количество заполненных значений
df_copy.notna().sum()

id                 3367
bdate              3367
city               1833
country            3367
last_seen          3341
followers_count    2531
sex                3367
costs              3338
games              3338
dtype: int64

**Обзор пропущенных значений** по признакам:
1. 'city' - пользователи указывают город по желанию (по кейсу нет необходимости в исключении пропущенных значений; восстановить пропуски нет возможности)
2. 'last_seen' - должно быть указано значение последнего входа в магазин (скорее всего, ошибка в базе данных, либо при выгрузке данных в файл; по кейсу не указана необходимость в исключении пропущенных значений)
3. 'followers_count' - по пользователям с закрытым аккаунтом информация не предоставляется (по кейсу нет необходимости в исключении пропущенных значений; восстановить пропуски нет возможности)
4. 'costs' - затраты в магазине (по кейсу требование - исключить пропущенные значения; восстановить пропуски нет возможности)
5. 'games' - списки игр, которыми интересуются пользователи (по кейсу требование - исключить пропущенные значения; восстановить пропуски нет возможности)

## Исключение пропусков

In [45]:
# необходимо исключить наблюдения с пропусками по признакам 'costs' и 'games'
df_copy.dropna(subset=['costs', 'games'], inplace=True)

In [ ]:
# применение метода dropna() без указания значений параметра subset
# df_copy.dropna(inplace=True)
# приведет к удалению всех наблюдений датасета, где есть хотя бы одно пустое значение

In [46]:
# контроль размеров датафрейма
df_copy.shape

(3338, 9)

In [47]:
# контроль пропусков
df_copy.isna().sum()

id                    0
bdate                 0
city               1529
country               0
last_seen            26
followers_count     828
sex                   0
costs                 0
games                 0
dtype: int64

In [48]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3338 entries, 0 to 3524
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               3338 non-null   int64
 1   bdate            3338 non-null   object
 2   city             1809 non-null   object
 3   country          3338 non-null   object
 4   last_seen        3312 non-null   object
 5   followers_count  2510 non-null   float64
 6   sex              3338 non-null   int64
 7   costs            3338 non-null   object
 8   games            3338 non-null   object
dtypes: float64(1), int64(2), object(6)
memory usage: 260.8+ KB

In [49]:
# количество данных изменилось, однако значения индексов остались в диапазоне от 0 до 3520
# следует перезаписать индексы по порядку (в нашем случае нет необходимости сохранять исходные индексы),
# передав параметр drop=True для автоматического удаления исходного индексного столбца
df_copy.reset_index(drop=True, inplace=True)

In [50]:
# проверка диапазона индексов
df_copy.index

RangeIndex(start=0, stop=3338, step=1)

## Обработка пропусков

In [ ]:
# метод для заполнения пропусков - fillna()
# (в нашем случае нет необходимости)
# df_copy['city'].fillna('Moscow', inplace=True)
# df_copy['followers_count'].fillna(0, inplace=True)

# **Работа с JSON и вложенными структурами данных**

In [51]:
df_copy.head(3)

,id,bdate,city,country,last_seen,followers_count,sex,costs,games
0,19,1.1.2005,"{'id': 2, 'title': 'Saint-Petersburg'}","{'id': 1, 'title': 'Россия'}","{'platform': 2, 'time': 1662237362}",39326.0,1,"{'costs': 25000, 'currency': 'RUR'}","[{'name': 'Dota 2'}, {'name': 'CS:GO'}, {'name..."
1,510,1.1.1985,NaN,"{'id': 1, 'title': 'Россия'}","{'platform': 7, 'time': 1661321803}",19698.0,2,"{'costs': 50000, 'currency': 'RUR'}","[{'name': 'League of Legends'}, {'name': 'Valo..."
2,674,1.1.1979,"{'id': 99, 'title': 'Новосибирск'}","{'id': 1, 'title': 'Россия'}","{'platform': 7, 'time': 1662202619}",NaN,2,"{'costs': 75000, 'currency': 'RUR'}",[{'name': 'Fortnite'}]

'city', 'country', 'last_seen', 'costs', 'games'

In [52]:
df_copy['city'][0]

"{'id': 2, 'title': 'Saint-Petersburg'}"

In [53]:
# пробуем достать значение с помощью модуля json
json.loads(df_copy['city'][0])

JSONDecodeError: Expecting property name enclosed in double quotes: line 1 column 2 (char 1)

In [54]:
# судя по ошибке не устраивает наличие одинарных кавычек
# пробуем заменить на двойные кавычки с помощью метода replace()
df_copy['city'][0].replace("'", '"')

'{"id": 2, "title": "Saint-Petersburg"}'

In [55]:
json.loads(df_copy['city'][0].replace("'", '"'))

{'id': 2, 'title': 'Saint-Petersburg'}

In [56]:
# пробуем достать значение по ключу title
json.loads(df_copy['city'][0].replace("'", '"'))['title']

'Saint-Petersburg'

In [57]:
def text_to_json(text):
  if pd.isna(text):
    result = 'Город не указан'
  else:
    result = json.loads(text.replace("'", '"'))['title']
  return result

In [58]:
# применяем функцию к столбцу
df_copy['city'] = df_copy['city'].apply(text_to_json)

In [59]:
# контроль результата
df_copy.city

0       Saint-Petersburg
1        Город не указан
2            Новосибирск
3       Saint-Petersburg
4        Город не указан
              ...
3333     Город не указан
3334              Россия
3335              Россия
3336              Россия
3337              Россия
Name: city, Length: 3338, dtype: object

In [ ]:
# данные записались корректно,
# однако стоит отметить, что они не приведены к единому регистру, языку,
# например, различное написание русских городов на разных языках: Saint-Petersburg и Новосибирск,
# а также наличие названия страны "Россия" в последних наблюдениях.
# откорректируем данные несоответствия в одной из следующих тем

## 'country'

In [60]:
df_copy['country'][0]

"{'id': 1, 'title': 'Россия'}"

In [61]:
# альтернативный метод: приведение значений в словарь с помощью функции eval()
eval(df_copy['country'][0])

{'id': 1, 'title': 'Россия'}

In [62]:
eval(df_copy['country'][0])['title']

'Россия'

In [63]:
# применим функцию к столбцу
# т.к. по столбцу нет пропусков, то попробуем применить
# анонимную lambda-функцию для записи наименования страны
df_copy['country'] = df_copy['country'].apply(lambda x: eval(x)['title'])

KeyError: 'title'

In [64]:
# ошибка, связанная с тем, что по каким-то наблюдениям в словаре нет ключа 'title',
# но по данному признаку может быть только два ключа - 'id' и 'title'
# ищем проблемные значения с помощью конструкции обработки исключений try-except
for item in df_copy.country:
  try:
    eval(item)['title']
  except:
    print(item)

{'platform': 4, 'time': 1658820057}
{'platform': 2, 'time': 1662237422}
{'platform': 4, 'time': 1662232523}
{'platform': 4, 'time': 1661793146}

In [65]:
# несоответствия по данному признаку, относящиеся к другому - 'last_seen'
# посмотрим на эти наблюдения по всем признакам с помощью метода contains()
# (str. производит принудительный перевод в строковое значение)
df_copy[df_copy.country.str.contains('platform')]

,id,bdate,city,country,last_seen,followers_count,sex,costs,games
3334,741237783,4.8.2005,Россия,"{'platform': 4, 'time': 1658820057}",NaN,0.0,1,[{'name': 'Fortnite'}],no
3335,741237784,30.11.2002,Россия,"{'platform': 2, 'time': 1662237422}",0,0.0,0,"[{'name': 'PUBG'}, {'name': 'Hearthstone'}, {'...",no
3336,741237785,5.6.2008,Россия,"{'platform': 4, 'time': 1662232523}",1,0.0,0,[{'name': 'FIFA'}],no
3337,741237786,24.7.1990,Россия,"{'platform': 4, 'time': 1661793146}",NaN,0.0,1,"[{'name': 'StarCraft 2'}, {'name': 'Warface'},...",no

In [66]:
# видно, что значения сдвинулись по признакам
# скорее всего, в какой-то момент произошла ошибка при записи данных
# можно было бы попытаться восстановить значения, отдав их обратно специалисту по сбору данных,
# однако таких значений всего 4 из общего числа наблюдений,
# поэтому в данном случаем можно их исключить из датасета,
# но проинформировать причастных об ошибке все же стоит

df_copy.drop([3334, 3335, 3336, 3337],inplace=True)

In [67]:
# снова применим функцию к столбцу
df_copy['country'] = df_copy['country'].apply(lambda x: eval(x)['title'])

In [68]:
# контроль результата
df_copy.country

0       Россия
1       Россия
2       Россия
3       Россия
4       Россия
         ...
3329    Россия
3330    Россия
3331    Россия
3332    Россия
3333    Россия
Name: country, Length: 3334, dtype: object

## 'last_seen'

In [69]:
df_copy['last_seen'][0]

"{'platform': 2, 'time': 1662237362}"

In [70]:
# данные содержат пустые значения
# перепишем функцию, используемую при обработке признака 'city',
# при этом не заменяя пропущенные значения другими
def text_to_json_2(text):
  if pd.isna(text):
    result = np.nan
  else:
    result = json.loads(text.replace("'", '"'))['time']
  return result

In [71]:
# применяем функцию к столбцу
df_copy['last_seen'] = df_copy['last_seen'].apply(text_to_json_2)

In [72]:
# контроль результата
df_copy.last_seen

0       1.662237e+09
1       1.661322e+09
2       1.662203e+09
3       1.613708e+09
4       1.619551e+09
            ...
3329    1.662186e+09
3330    1.658820e+09
3331    1.662237e+09
3332    1.662233e+09
3333    1.661793e+09
Name: last_seen, Length: 3334, dtype: float64

In [73]:
# данные в формате float64, при этом большой размерности,
# поэтому отображаются неудобно
# один из способов форматирования
# (число с плавающей точкой отобразим без указания знаков после запятой)
# (пример для перевода числа в проценты с двумя знаками после запятой - .apply("{0:.2%}".format))
# (если необходимо применить форматирование ко всей таблице, то используется метод .applymap())
df_copy.last_seen.apply("{0:.0f}".format)

0       1662237362
1       1661321803
2       1662202619
3       1613708136
4       1619550770
           ...
3329    1662185768
3330    1658820057
3331    1662237422
3332    1662232523
3333    1661793146
Name: last_seen, Length: 3334, dtype: object

## 'costs'

In [ ]:
# обработаем данные альтернативным способом - через обработку текста

# необходимо записать данные и о сумме затрат, и о валюте в отдельные столбцы
# данные не содержат пустые значения,
# поэтому проверку на пропуски можно опустить

In [74]:
# демонстрация этапов обработки на одном значении
costs = df_copy['costs'][0]
costs

"{'costs': 25000, 'currency': 'RUR'}"

In [75]:
# удаление лишних символов с помощью метода .replace()
costs_1 = costs.replace("'", "").replace("{", "").replace("}", ""). replace(":", "")
costs_1

'costs 25000, currency RUR'

In [76]:
# выделение затрат и валюты в отдельные сущности - элементы списка с помощью метода split()
# (в качестве разделителя указываем запятую)
costs_2 = costs_1.split(",")
costs_2

['costs 25000', ' currency RUR']

In [77]:
# теперь можно работать с каждой сущностью отдельно
# costs - первый элемент списка costs_2[0]
# currency - второй элемент списка costs_2[1]
print(costs_2[0])
print(costs_2[1])

costs 25000
 currency RUR

In [78]:
# выделим саму цифру затрат также с помощью метода split()
# (в качестве разделителя - пробел, его можно не указывать, т.к. это значение по умолчанию)
# (необходимый элемент списка - с индексом [1])
costs_2[0].split()[1]

'25000'

In [79]:
# выделим валюту также с помощью метода split()
# (в качестве разделителя - пробел, его можно не указывать, т.к. это значение по умолчанию)
# (необходимый элемент списка - с индексом [1])
costs_2[1].split()[1]

'RUR'

In [80]:
# часто бывает, что необходимо избавиться от лишних пробелов в начале или в конце строки
# для этой задачи применяется метод strip()
# например, вычленим слово "currency" из примера выше (слева имеется один лишний пробел)
costs_2[1].split()[0].strip()

'currency'

In [82]:
# объединение кода в функции для каждой сущности
# (следует добавлять в функции проверку на пропуски и их обработку, а также обработку исключений)

def costs_func(costs_currency):
  costs = (costs_currency.replace("'", "").replace("{", "").replace("}", ""). replace(":", "")
                         .split(",")[0]
                         .split()[1]
                         )
  return costs


def currency_func(costs_currency):
  currency = (costs_currency.replace("'", "").replace("{", "").replace("}", ""). replace(":", "")
                         .split(",")[1]
                         .split()[1]
                         )
  return currency

In [83]:
# проверка работоспособности функций на одном значении
print(df_copy.costs[10])
print(costs_func(df_copy.costs[10]))
print(currency_func(df_copy.costs[10]))

{'costs': 25000, 'currency': 'RUR'}
25000
RUR

In [84]:
# применим функции ко всему столбцу, при этом создав для каждого признака отдельный столбец
df_copy['costs_sum'] = df_copy['costs'].apply(costs_func)
df_copy['currency'] = df_copy['costs'].apply(currency_func)

In [85]:
# контроль результата
df_copy[['costs_sum', 'currency']]

     costs_sum currency
0        25000      RUR
1        50000      RUR
2        75000      RUR
3       100000      RUR
4       100000      RUR
...        ...      ...
3329     50000      RUR
3330     50000      RUR
3331     50000      RUR
3332     25000      RUR
3333     25000      RUR

[3334 rows x 2 columns]

In [86]:
# исключим исходный столбец costs
df_copy.drop(columns='costs', inplace=True)

In [90]:
# переименуем столбец costs_sum в costs
df_copy.rename(columns={'costs_sum': 'costs'}, inplace=True)

In [91]:
# контроль результата
df_copy.columns

Index(['id', 'bdate', 'city', 'country', 'last_seen', 'followers_count', 'sex',
       'games', 'costs', 'currency'],
      dtype='object')

In [92]:
# контроль результата
df_copy[['costs', 'currency']]

       costs currency
0      25000      RUR
1      50000      RUR
2      75000      RUR
3     100000      RUR
4     100000      RUR
...      ...      ...
3329   50000      RUR
3330   50000      RUR
3331   50000      RUR
3332   25000      RUR
3333   25000      RUR

[3334 rows x 2 columns]

## 'games'

In [93]:
# преобразуем данные столбца games в списки игр
df_copy.games

0       [{'name': 'Dota 2'}, {'name': 'CS:GO'}, {'name...
1       [{'name': 'League of Legends'}, {'name': 'Valo...
2                                  [{'name': 'Fortnite'}]
3       [{'name': 'PUBG'}, {'name': 'Hearthstone'}, {'...
4                                      [{'name': 'FIFA'}]
                              ...
3329    [{'name': 'PUBG'}, {'name': 'Hearthstone'}, {'...
3330    [{'name': 'PUBG'}, {'name': 'Hearthstone'}, {'...
3331                                  [{'name': 'CS:GO'}]
3332                                  [{'name': 'CS:GO'}]
3333                                  [{'name': 'CS:GO'}]
Name: games, Length: 3334, dtype: object

In [ ]:
# данные не содержат пустые значения,
# поэтому проверку на пропуски можно опустить

In [94]:
# демонстрация этапов обработки на одном значении
games = df_copy.games[0]
games

"[{'name': 'Dota 2'}, {'name': 'CS:GO'}, {'name': 'Warcraft III'}]"

In [95]:
# используем функцию eval(), чтобы преобразовать строковое значение в список
games_1 = eval(games)
games_1

[{'name': 'Dota 2'}, {'name': 'CS:GO'}, {'name': 'Warcraft III'}]

In [96]:
# необходимо создать список, в который будут записаны наименования игр
# в цикле for необходимо пройтись по элементам списка, достать значения словарей
# и записать их в список с помощью метода append()
res = []
for game in games_1:
  game_clean = game['name']
  res.append(game_clean)

res

['Dota 2', 'CS:GO', 'Warcraft III']

In [97]:
# объединение кода в функцию
# (следует добавить в функцию проверку на пропуски и их обработку, а также обработку исключений)

def games_func(games):
  res = []
  for game in eval(games):
    game_clean = game['name']
    res.append(game_clean)

  return res

In [98]:
# проверка работоспособности функций на одном значении
print(df_copy.games[10])
print(games_func(df_copy.games[10]))

[{'name': 'League of Legends'}]
['League of Legends']

In [99]:
# применим функции ко всему столбцу, при этом создав отдельный столбец
df_copy['games_clean'] = df_copy['games'].apply(games_func)

In [100]:
# контроль результата
df_copy['games_clean']

0                     [Dota 2, CS:GO, Warcraft III]
1       [League of Legends, Valorant, Apex Legends]
2                                        [Fortnite]
3                    [PUBG, Hearthstone, Overwatch]
4                                            [FIFA]
                           ...
3329                 [PUBG, Hearthstone, Overwatch]
3330                 [PUBG, Hearthstone, Overwatch]
3331                                        [CS:GO]
3332                                        [CS:GO]
3333                                        [CS:GO]
Name: games_clean, Length: 3334, dtype: object

In [101]:
# исключим исходный столбец games
df_copy.drop(columns='games', inplace=True)

In [102]:
# переименуем столбец games_clean в games
df_copy.rename(columns={'games_clean': 'games'}, inplace=True)

In [103]:
# контроль результата
df_copy.columns

Index(['id', 'bdate', 'city', 'country', 'last_seen', 'followers_count', 'sex',
       'costs', 'currency', 'games'],
      dtype='object')

In [104]:
# контроль результата
df_copy['games']

0                     [Dota 2, CS:GO, Warcraft III]
1       [League of Legends, Valorant, Apex Legends]
2                                        [Fortnite]
3                    [PUBG, Hearthstone, Overwatch]
4                                            [FIFA]
                           ...
3329                 [PUBG, Hearthstone, Overwatch]
3330                 [PUBG, Hearthstone, Overwatch]
3331                                        [CS:GO]
3332                                        [CS:GO]
3333                                        [CS:GO]
Name: games, Length: 3334, dtype: object

In [ ]:
# данные представляют собой списки игр,
# поэтому стоит дополнительно произвести их "распаковку"
# и сохранить полученный датасет с целью последующего анализа
# в одной из следующих тем

# **Преобразование данных в необходимый формат**

In [105]:
# обзор типов данных
df_copy.dtypes

id                   int64
bdate               object
city                object
country             object
last_seen          float64
followers_count    float64
sex                  int64
costs               object
currency            object
games               object
dtype: object

**Необходимо преобразовать** следующие признаки:
1. 'bdate' - в формат даты и времени datetime
2. 'last_seen' - в формат даты и времени datetime
3. 'followers_count' - в формат целого числа int
4. 'costs' - в формат числа с плавающей точкой float

## 'bdate'

In [ ]:
# для работы с данными формата даты и времени в Python существует специальный модуль - datetime,
# однако в рамках текущего кейса вполне достаточно аналогичных методов pandas

In [106]:
df_copy.bdate

0        1.1.2005
1        1.1.1985
2        1.1.1979
3        1.1.2002
4        1.1.1989
          ...
3329     5.6.2008
3330    24.7.1990
3331    11.5.2006
3332     3.4.2001
3333    22.2.2000
Name: bdate, Length: 3334, dtype: object

In [107]:
# установим нужный формат данных с помощью метода to_datetime()
# для корректного перевода значений укажем формат в параметре format,
# где на первом месте стоит день, а далее месяц и год
df_copy.bdate = pd.to_datetime(df_copy.bdate, format="%d.%m.%Y")
df_copy.bdate

0      2005-01-01
1      1985-01-01
2      1979-01-01
3      2002-01-01
4      1989-01-01
          ...
3329   2008-06-05
3330   1990-07-24
3331   2006-05-11
3332   2001-04-03
3333   2000-02-22
Name: bdate, Length: 3334, dtype: datetime64[ns]

## 'last_seen'

In [108]:
df_copy.last_seen

0       1.662237e+09
1       1.661322e+09
2       1.662203e+09
3       1.613708e+09
4       1.619551e+09
            ...
3329    1.662186e+09
3330    1.658820e+09
3331    1.662237e+09
3332    1.662233e+09
3333    1.661793e+09
Name: last_seen, Length: 3334, dtype: float64

In [109]:
# рассмотрим первое значение
# данные представлены в формате Unix time
df_copy.last_seen[0]

np.float64(1662237362.0)

In [110]:
# переведем значение в формат даты и времени с помощью метода to_datetime(),
# указав параметры origin='unix' (система описания моментов во времени) и unit='s' (значение представляет собой секунды)
# (параметр origin='unix' можно опустить, т.к. он принимает данное значение по умолчанию)
pd.to_datetime(df_copy.last_seen[0], unit='s', origin='unix')

Timestamp('2022-09-03 20:36:02')

In [111]:
# альтернативный метод Timestamp.utcfromtimestamp() дает аналогичный результат
pd.Timestamp.utcfromtimestamp(df_copy.last_seen[0])

Timestamp('2022-09-03 20:36:02+0000', tz='UTC')

In [112]:
# применим ко всему столбцу
df_copy.last_seen = pd.to_datetime(df_copy.last_seen, unit='s')
df_copy.last_seen

0      2022-09-03 20:36:02
1      2022-08-24 06:16:43
2      2022-09-03 10:56:59
3      2021-02-19 04:15:36
4      2021-04-27 19:12:50
               ...
3329   2022-09-03 06:16:08
3330   2022-07-26 07:20:57
3331   2022-09-03 20:37:02
3332   2022-09-03 19:15:23
3333   2022-08-29 17:12:26
Name: last_seen, Length: 3334, dtype: datetime64[ns]

In [113]:
# отобразим данный признак в формате "ДД.ММ.ГГГГ" с помощью метода dt.strftime()
# (если впоследствии необходимо работать со значениями признака как с датой, то преобразование делать не нужно,
# т.к. метод переводит значения в строковый формат)
df_copy.last_seen = df_copy.last_seen.dt.strftime('%d.%m.%Y')
df_copy.last_seen

0       03.09.2022
1       24.08.2022
2       03.09.2022
3       19.02.2021
4       27.04.2021
           ...
3329    03.09.2022
3330    26.07.2022
3331    03.09.2022
3332    03.09.2022
3333    29.08.2022
Name: last_seen, Length: 3334, dtype: object

## 'followers_count'

In [114]:
df_copy.followers_count

0       39326.0
1       19698.0
2           NaN
3           NaN
4       31433.0
         ...
3329        NaN
3330        NaN
3331        0.0
3332        1.0
3333        NaN
Name: followers_count, Length: 3334, dtype: float64

In [115]:
# переведем значения из float в int с помощью метода astype()
df_copy.followers_count = df_copy.followers_count.astype('int')
df_copy.followers_count

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [116]:
# ошибка, связанная с наличием пропущенных значений по признаку
# вместо классического питоновского типа данных 'int' применим тип данных 'Int64', используемый NumPy и Pandas
df_copy.followers_count = df_copy.followers_count.astype('Int64')
df_copy.followers_count

0       39326
1       19698
2        <NA>
3        <NA>
4       31433
        ...
3329     <NA>
3330     <NA>
3331        0
3332        1
3333     <NA>
Name: followers_count, Length: 3334, dtype: Int64

## 'costs'

In [117]:
df_copy.costs

0        25000
1        50000
2        75000
3       100000
4       100000
         ...
3329     50000
3330     50000
3331     50000
3332     25000
3333     25000
Name: costs, Length: 3334, dtype: object

In [118]:
# переведем данные в числовой формат с помощью метода to_numeric()
# параметр downcast='float' принудительно переводит в тип float
df_copy.costs = pd.to_numeric(df_copy.costs, downcast='float')
df_copy.costs

0        25000.0
1        50000.0
2        75000.0
3       100000.0
4       100000.0
          ...
3329     50000.0
3330     50000.0
3331     50000.0
3332     25000.0
3333     25000.0
Name: costs, Length: 3334, dtype: float32

## Расчет дополнительных признаков

### 'age'

In [120]:
# для расчета необходимо из текущей даты вычесть дату рождения (признак "bdate")
# текущую дату можно получить с помощью метода Timestamp.today()
current_day = pd.Timestamp.today()
current_day

Timestamp('2024-12-22 14:59:19.103908')

In [121]:
# извлечем значение года из даты с помощью атрибута year
current_year = current_day.year
current_year

2024

In [122]:
# рассчитаем значения возраста и сохраним полученные значения в признак age
# при этом необходимо каждую дату рождения перевести в значение года аналогично через атрибут year
# для получения доступа к каждому значению объекта Series "bdate" используем метод apply() и lambda-функцию
df_copy['age'] = current_year - df_copy.bdate.apply(lambda x: x.year)
df_copy.age

0       19
1       39
2       45
3       22
4       35
        ..
3329    16
3330    34
3331    18
3332    23
3333    24
Name: age, Length: 3334, dtype: int64

In [123]:
# исключим исходный столбец bdate
df_copy.drop(columns='bdate', inplace=True)

In [124]:
# контроль результата
df_copy.columns

Index(['id', 'city', 'country', 'last_seen', 'followers_count', 'sex', 'costs',
       'currency', 'games', 'age'],
      dtype='object')

### 'costs_to_rur'

In [125]:
df_copy[['costs', 'currency']]

         costs currency
0      25000.0      RUR
1      50000.0      RUR
2      75000.0      RUR
3     100000.0      RUR
4     100000.0      RUR
...        ...      ...
3329   50000.0      RUR
3330   50000.0      RUR
3331   50000.0      RUR
3332   25000.0      RUR
3333   25000.0      RUR

[3334 rows x 2 columns]

In [126]:
# проверим список уникальных значений с помощью метода unique()
df_copy['currency'].unique()

array(['RUR', 'USD', 'KZT', 'EUR'], dtype=object)

In [127]:
# необходимо привести значения к единой валюте - рублям
# создадим словарь значений (курс валют выберем на текущую дату обработки данных)
rates = dict(RUR=1, USD=60.51, EUR=62.42, KZT=0.13)

In [128]:
# рассчитаем столбец costs_to_rur по формуле (rates * costs),
# при этом применяя курс в зависимости от указанной валюты
# посредством замены значений из словаря rates с помощью метода map()
df_copy['costs_to_rur'] = df_copy['currency'].map(rates) * df_copy['costs']
df_copy['costs_to_rur']

0        25000.0
1        50000.0
2        75000.0
3       100000.0
4       100000.0
          ...
3329     50000.0
3330     50000.0
3331     50000.0
3332     25000.0
3333     25000.0
Name: costs_to_rur, Length: 3334, dtype: float64

In [129]:
# исключим столбцы costs и currency
df_copy.drop(columns=['costs', 'currency'], inplace=True)

In [130]:
# контроль результата
df_copy.columns

Index(['id', 'city', 'country', 'last_seen', 'followers_count', 'sex', 'games',
       'age', 'costs_to_rur'],
      dtype='object')

## Декодирование значений

### 'sex'

In [ ]:
# по тех документации ВКонтакте:
# 1 - женский пол,
# 2 - мужской пол,
# 0 - пол не указан

In [131]:
# проверим список уникальных значений с помощью метода unique()
df_copy.sex.unique()

array([1, 2])

In [132]:
# создадим словарь значений в соответствии с тех документацией ВКонтакте
sex_dict = {1: "женский", 2: "мужской", 0: "не указан"}

In [134]:
# декодируем значения
# (для получения доступа к каждому значению объекта Series "sex" используем метод apply() и lambda-функцию)
df_copy.sex = df_copy.sex.apply(lambda x: sex_dict[x])

KeyError: 'женский'

In [135]:
# контроль результата
df_copy.sex.unique()

array(['женский', 'мужской'], dtype=object)