In [ ]:
import pandas as pd
import numpy as np
import json

Read file shop_users.csv

In [ ]:
df = pd.read_csv('shop_users.csv')

# *View*

In [10]:
df

,Unnamed: 0,id,bdate,city,country,last_seen,followers_count,common_count,sex,is_closed,home_town,relation,costs,games
0,0,19,1.1.2005,"{'id': 2, 'title': 'Saint-Petersburg'}","{'id': 1, 'title': 'Россия'}","{'platform': 2, 'time': 1662237362}",39326.0,0,1,0.0,NaN,NaN,"{'costs': 25000, 'currency': 'RUR'}","[{'name': 'Dota 2'}, {'name': 'CS:GO'}, {'name..."
1,1,510,1.1.1985,NaN,"{'id': 1, 'title': 'Россия'}","{'platform': 7, 'time': 1661321803}",19698.0,0,2,0.0,NaN,NaN,"{'costs': 50000, 'currency': 'RUR'}","[{'name': 'League of Legends'}, {'name': 'Valo..."
2,2,674,1.1.1979,"{'id': 99, 'title': 'Новосибирск'}","{'id': 1, 'title': 'Россия'}","{'platform': 7, 'time': 1662202619}",NaN,0,2,1.0,NaN,NaN,"{'costs': 75000, 'currency': 'RUR'}",[{'name': 'Fortnite'}]
3,3,1018,1.1.2002,"{'id': 2, 'title': 'Saint-Petersburg'}","{'id': 1, 'title': 'Россия'}","{'platform': 1, 'time': 1613708136}",NaN,0,2,1.0,NaN,NaN,"{'costs': 100000, 'currency': 'RUR'}","[{'name': 'PUBG'}, {'name': 'Hearthstone'}, {'..."
4,4,1586,1.1.1989,NaN,"{'id': 1, 'title': 'Россия'}","{'platform': 7, 'time': 1619550770}",31433.0,0,2,0.0,NaN,NaN,"{'costs': 100000, 'currency': 'RUR'}",[{'name': 'FIFA'}]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3520,3520,741237782,22.2.2000,NaN,"{'id': 1, 'title': 'Россия'}","{'platform': 4, 'time': 1661793146}",NaN,0,2,1.0,NaN,NaN,"{'costs': 25000, 'currency': 'RUR'}",[{'name': 'CS:GO'}]
3521,3521,741237783,4.8.2005,"{'id': 1, 'title': 'Россия'}","{'platform': 4, 'time': 1658820057}",NaN,0.0,2,1,NaN,NaN,"{'costs': 50000, 'currency': 'RUR'}",[{'name': 'Fortnite'}],no
3522,3522,741237784,30.11.2002,"{'id': 1, 'title': 'Россия'}","{'platform': 2, 'time': 1662237422}",0,0.0,2,0,NaN,0,"{'costs': 50000, 'currency': 'RUR'}","[{'name': 'PUBG'}, {'name': 'Hearthstone'}, {'...",no
3523,3523,741237785,5.6.2008,"{'id': 1, 'title': 'Россия'}","{'platform': 4, 'time': 1662232523}",1,0.0,2,0,NaN,NaN,"{'costs': 25000, 'currency': 'RUR'}",[{'name': 'FIFA'}],no
3524,3524,741237786,24.7.1990,"{'id': 1, 'title': 'Россия'}","{'platform': 4, 'time': 1661793146}",NaN,0.0,2,1,NaN,NaN,"{'costs': 25000, 'currency': 'RUR'}","[{'name': 'StarCraft 2'}, {'name': 'Warface'},...",no

In [ ]:
df.head(n=2)

In [ ]:
df.tail(n=3)

In [ ]:
df.sample(n=4)

In [15]:
type(df)

pandas.core.series.Series

In [16]:
type(df['id'])

pandas.core.series.Series

In [17]:
# size dataset
len(df)

3525

In [18]:
len(df.axes[1])

14

In [20]:
df.shape

(3525, 14)

In [21]:
df.dtypes

Unnamed: 0           int64
id                   int64
bdate               object
city                object
country             object
last_seen           object
followers_count    float64
common_count         int64
sex                  int64
is_closed          float64
home_town           object
relation            object
costs               object
games               object
dtype: object

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3525 entries, 0 to 3524
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       3525 non-null   int64
 1   id               3525 non-null   int64
 2   bdate            3525 non-null   object
 3   city             1972 non-null   object
 4   country          3525 non-null   object
 5   last_seen        3499 non-null   object
 6   followers_count  2652 non-null   float64
 7   common_count     3525 non-null   int64
 8   sex              3525 non-null   int64
 9   is_closed        3521 non-null   float64
 10  home_town        558 non-null    object
 11  relation         1584 non-null   object
 12  costs            3495 non-null   object
 13  games            3495 non-null   object
dtypes: float64(2), int64(4), object(8)
memory usage: 385.7+ KB

## Выявление проблем

1. Наличие признаков, не представляющих ценности в рамках кейса ('Unnamed: 0', 'common_count', 'is_closed', 'home_town', 'relation')
2. Возможно наличие дубликатов
3. Наличие незаполненных значений ('city', 'last_seen', 'followers_count', 'costs', 'games')
4. Наличие вложенных значений (словарей по признакам 'city', 'country', 'last_seen', 'costs' и списков словарей по признаку 'games')
5. Приведение признаков в необходимый формат (в datetime: 'bdate, 'last_seen', в float: затраты из признака 'costs')
6. Необходимость расчета признака 'age' (от признака 'bdate')
7. Наличие закодированных значений (по признаку 'sex')
8. Возможные другие проблемы, которые могут быть выявлены в процессе предобработки данных

## Исключение признаков, не представляющих ценности в рамках кейса

Перед проведением манипуляций рекомендовано создать копию исходного датасета в отдельную переменную, чтобы в случае необходимости или ошибки при обработке без труда вернуться к исходной версии

In [23]:
df_copy = df.copy()

In [ ]:
# при использовании выражения:
# df_copy = df
# копия не создастся, а датафрейм просто сохранится также в переменную df_copy,
# и при его изменении при обращении к переменной df_copy он также будет изменен в переменной df.

In [27]:
# выводит список колонок датафрейма
df_copy.columns

Index(['Unnamed: 0', 'id', 'bdate', 'city', 'country', 'last_seen',
       'followers_count', 'common_count', 'sex', 'is_closed', 'home_town',
       'relation', 'costs', 'games'],
      dtype='object')

In [29]:
drop_columns = ['Unnamed: 0', 'common_count', 'is_closed', 'home_town', 'relation']

In [30]:
# параметр inplace=True позволяет автоматически перезаписать текущий датафрейм
# без использования конструкции: df_copy = df_copy.drop(columns=columns)
df_copy.drop(columns=drop_columns, inplace=True)
# также с помощью drop() можно удалять и сами наблюдения (см. тех. документацию)

In [31]:
# проверка списка колонок датафрейма
df_copy.columns

Index(['id', 'bdate', 'city', 'country', 'last_seen', 'followers_count', 'sex',
       'costs', 'games'],
      dtype='object')

## Проверка и исключение дубликатов

### Проверка на дубликаты

In [32]:
# проверка на дубликаты: выдает объект Series с булевыми значениями True/False
df_copy.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
3520    False
3521    False
3522    False
3523    False
3524    False
Length: 3525, dtype: bool

In [34]:
# нас интересует количество дубликатов
# т.к. True = 1, False = 0, то необходимо сложить все значения по данному объекту Series
df_copy.duplicated().sum()

np.int64(158)

In [35]:
# проверка дубликатов по столбцу id
df_copy.duplicated(subset='id').sum()

np.int64(158)

In [36]:
# проверка дубликатов по нескольким столбцам
# (например, сколько однополых людей, родившихся в одинаковые дни)
# параметр keep=False присваивает значения True всем найденным дубликатам
# (по умолчанию keep='first', т.е. присваивает значение False первому из совпадений)
df_copy.duplicated(subset=['bdate', 'sex'], keep=False).sum()

np.int64(1760)

### Исключение дубликатов

In [38]:
# исключение дубликатов по всем признакам датафрейма
df_copy.drop_duplicates(inplace=True)

In [ ]:
# исключение дубликатов по столбцу
# (в нашем случае операция аналогична предыдущей)
# df_copy.drop_duplicates(subset='id', inplace=True)

In [ ]:
# исключение дубликатов по нескольким столбцам
# (в нашем случае нет необходимости)
# параметр keep=False удаляет все найденные дубликаты
# (по умолчанию keep='first', т.е. удаляет все дубликаты, кроме первого)
# df_copy.drop_duplicates(subset=['bdate', 'sex'], keep=False, inplace=True)

In [39]:
df_copy.shape

(3367, 9)